<html>
    <head>
        <script src="https://kit.fontawesome.com/d1e9d1ba92.js" crossorigin="anonymous"></script>  
        <title>
            <%= locals.title %>
        </title> 
    </head>
    <body>
        <div>
            <a href="/social-distance"> 
                <h4>social-distance</h4>
            </a>
        </div>
        <div>
            <a href="/mask"> 
                <h4>Mask</h4>
            </a>
        </div>
        <div>
            <a href="/counter"> 
                <h4>counter</h4>
            </a>
        </div>
    </body>
</html>